# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__/**

# Top-level Config
include DISTRIBUTION
include LICENSE
include README.md
include VERSION
include MANIFEST.in
include setup.cfg
include environment.yml
include environment_xnrl.yml